<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.dao.app">

    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".Core.Configuration.ApplicationControl"
        android:allowBackup="true"
        android:icon="@drawable/ico"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".View.Startup.SplashscreenActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.Startup.SetupActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask" />
        <activity
            android:name=".View.Startup.HomeActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask" />
        <activity
            android:name=".View.Startup.DefenseHomeActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask" />
        <activity
            android:name=".View.DnsSpoofing.DnsActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".View.HostDiscovery.HostDiscoveryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.Settings.SettingsActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".View.Scan.NmapActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".View.SpyMITM.SpyMitmActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".View.Sniff.SniffActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".View.Dora.DoraActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".View.WebServer.WebServerActivity"
            android:launchMode="singleTask" />
        <activity android:name=".View.HostDetail.HostDetailActivity"
           />
        <meta-data android:name="AA_MODELS"
            android:value="
            fr.dao.app.Model.Target.Network,
            fr.dao.app.Model.Target.Host,
            fr.dao.app.Model.Target.ExternalHost,
            fr.dao.app.Model.Target.SniffSession,
            fr.dao.app.Model.Unix.DNSLog,
            fr.dao.app.Model.Net.Pcap,
            fr.dao.app.Model.Net.Service" />
        <meta-data
            android:name="AA_DB_NAME"
            android:value="DaoDatabase" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="11" />
    </application>

</manifest>